{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="d-flex align-items-center justify-content-center min-vh-100 bg-light">

    <div class="container">
        <div class="row bg-white shadow rounded overflow-hidden">

            <!-- Sidebar con la imagen -->
            <div class="col-md-6 p-0">
                <img src="{% static 'img/intipunku.jpg' %}" alt="Side Image" class="img-fluid h-100 w-100">
            </div>

            <!-- Formulario de login -->
            <div class="col-md-6 d-flex align-items-center justify-content-center p-5">
                <div class="w-100" style="max-width: 400px;">
                    <h4 class="text-center mb-4">Sign in</h4>

                    <!-- Muestra alertas si están definidas -->
                    {% include 'includes/alerts.html' %}

                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}

                        <!-- Campo de email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email Address">
                        </div>

                        <!-- Campo de contraseña -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                        </div>

                        <!-- Enlace para recuperar contraseña -->
                        <div class="text-end mb-3">
                            <a href="#" class="text-decoration-none">Forgot password?</a>
                        </div>

                        <!-- Botón de login -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <p class="mt-4 text-center">Don't have an account? <a href="{% url 'register' %}" class="text-primary">Registrate</a></p>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!-- Enlace para registrarse -->

</section>

{% endblock %}
