{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="d-flex align-items-center justify-content-center min-vh-100 bg-light">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 bg-white rounded shadow p-4">
                <!-- Muestra alertas si están definidas -->
                {% include 'includes/alerts.html' %}

                <h4 class="text-center mb-4">Registro de usuario </h4>

                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ forms.as_p }}

                    <!-- Campo de nombre y apellido -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="first_name" class="form-label">First Name</label>
                            {{ form.first_name }}
                        </div>
                        <div class="col-md-6">
                            <label for="last_name" class="form-label">Last Name</label>
                            {{ form.last_name }}
                        </div>
                    </div>

                    <!-- Campo de email -->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        {{ form.email }}
                    </div>

                    <!-- Campo de número de teléfono -->
                    <div class="mb-3">
                        <label for="phone_number" class="form-label">Phone Number</label>
                        {{ form.phone_number }}
                    </div>

                    <!-- Campos de contraseña -->
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="password" class="form-label">Create Password</label>
                            {{ form.password }}
                        </div>
                        <div class="col-md-6">
                            <label for="confirm_password" class="form-label">Repeat Password</label>
                            {{ form.confirm_password }}
                        </div>
                    </div>

                    <!-- Botón de registro -->
                    <div class="d-grid mb-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>

                    <!-- Mensajes de error -->
                    <div class="text-danger">
                        {{ form.email.errors }}
                        {{ form.non_field_errors }}
                    </div>
                </form>
                  <!-- Enlace para iniciar sesión -->
                <p class="mt-4 text-center">Have an account? <a href="{% url 'login' %}" class="text-primary">Iniciar sesión </a></p>
            </div>
        </div>
    </div>

  
</section>

{% endblock %}
