{% extends 'base.html' %}


{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="flex items-center justify-center min-h-screen bg-gray-100">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="w-full max-w-lg p-6 bg-white rounded-lg shadow-md">
        <!-- Muestra alertas si están definidas -->
        {% include 'includes/alerts.html' %}

        <header class="mb-6">
            <h4 class="text-2xl font-semibold text-center text-gray-700">Sign up</h4>
        </header>

        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ forms.as_p }}

            <!-- Campo de nombre y apellido -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
                <div class="form-group">
                    <label for="first_name" class="block text-gray-700">First name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="last_name" class="block text-gray-700">Last name</label>
                    {{ form.last_name }}
                </div>
            </div>

            <!-- Campo de email -->
            <div class="mb-4">
                <label for="email" class="block text-gray-700">Email</label>
                {{ form.email }}
            </div>

            <!-- Campo de número de teléfono -->
            <div class="mb-4">
                <label for="phone_number" class="block text-gray-700">Phone Number</label>
                {{ form.phone_number }}
            </div>

            <!-- Campos de contraseña -->
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
                <div class="form-group">
                    <label for="password" class="block text-gray-700">Create password</label>
                    {{ form.password }}
                </div>
                <div class="form-group">
                    <label for="confirm_password" class="block text-gray-700">Repeat password</label>
                    {{ form.confirm_password }}
                </div>
            </div>

            <!-- Botón de registro -->
            <div class="form-group">
                <button type="submit" class="w-full py-2 text-white bg-blue-500 rounded hover:bg-blue-600 transition duration-200">
                    Register
                </button>
            </div>

            <!-- Mensajes de error -->
            <div class="text-red-500 mt-4">
                {{ form.email.errors }}
                {{ form.non_field_errors }}
            </div>
        </form>
    </div>

    <!-- Enlace para iniciar sesión -->
    <p class="mt-4 text-center text-gray-600">Have an account? <a href="{% url 'login' %}" class="text-blue-500 hover:underline">Log In</a></p>
</section>


{% endblock %}