{% load static %}


<!-- //////////////////////  footer  /////////////////////////////////////////////////////-->

<footer class=" mt-5 py-3 ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Acerca de nosotros</h5>

                <p>Somos una agencia de viajes en línea que ofrece las mejores ofertas en vuelos, hoteles y paquetes vacacionales.</p>
            </div>

            <div class="col-md-4">
                <h5>Enlaces rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Vuelos</a></li>
                    <li><a href="#">Hoteles</a></li>
                    <li><a href="#">Tours</a></li>
                    <li><a href="#">Ofertas</a></li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: contacto@whiteHack.cloud</p>
                <p>Teléfono: +51 984 597 060</p>
            </div>
        </div>
    </div>
    <div class="firma">
        <p>&copy; 2024 <i class="fa-solid fa-code"></i> with <i class="fa-solid fa-heart-pulse"></i> by WhiteHack. Todos los derechos reservados.</p>

    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
