{% load static %}

<nav class="navbar navbar-expand-lg bg-rojo">
    <div class="container">
        <a class="navbar-brand milogo"  href="#">Xperience</a>

        <!-- Botón para el menú en pantallas pequeñas -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="#">Hoteles</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Tours</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Vuelos</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Promociones</a></li>
            </ul>
            <!-- Botón de iniciar sesión separado -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-primary loginbot" href="#"><i class="fa-regular fa-user"></i>  Iniciar Sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>