{% extends 'base.html' %}

{%  load static%}

{% block content %}
<main>
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg bodyCarrito">
<div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <aside class="col-lg-9">
            <div class="card  carrito">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Product</th>
                            <th scope="col" width="120">Quantity</th>
                            <th scope="col" width="120">Price</th>
                            <th scope="col" class="text-right" width="200"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img class="img_carrito" src="img/montaña_0.jpg" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="#" class="title text-dark">servicio: Montaña 7 colores</a>
                                        <p class="text-muted small">montaña tours travel:   <br> Av. cuadra 10. 8:00 am. 22/10/2025</p>
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="col botonesCant">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light" type="button"> <i class="fa fa-minus"></i> </button>
                                        </div>
                                        <input type="text" class="form-control" value="1">
                                        <div class="input-group-append">
                                            <button class="btn btn-light" type="button"> <i class="fa fa-plus"></i> </button>
                                        </div>
                                    </div> <!-- input-group.// -->
                                </div>
                            </td>
                            <td>
                                <div class="price-wrap  divPrecio">
                                    <var class="price">$1156.00</var>
                                    <small class="text-muted"> $315.20 each </small>
                                </div>
                            </td>
                            <td class="text-right ">
                                <div class="botonRemove">
                                    <a href="" class="btn btn-danger"> Remove</a>
                                </div>
                            </td>
                        </tr>
                        <!-- Agrega más productos de manera similar si es necesario -->
                    </tbody>
                </table>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <aside class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">$1156.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Tax:</dt>
                        <dd class="text-right">$10.00</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b"><strong>$1166.00</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="img/payment-card.png" height="26">
                    </p>
                    <a href="./place-order.html" class="btn btn-pay btn-block"> Pay here </a>
                    <a href="./store.html" class="btn btn-continuar btn-block">Continue Shopping</a>
                    <a href="./store.html" class="btn btn-light btn-block"><img src="img/btn-paypal.png" alt="paypal"></a>
                </div> <!-- card-body.// -->
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .// -->
</section>



</main>



{% endblock %}