{% extends 'base.html' %}

{%  load static%}

{% block content %}
<main>
    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg bodyCarrito">
<div class="container">
    {% if not cart_items %}
    <h2 class="text-center"> Tu carrito de compras esta vacio </h2>
    <br>
    <div class="text-center">

        <a href="{% url 'store'  %}" class="btn btn-primary">Continuar comprando</a>
    </div>

    {% else %}
    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="row">
        <aside class="col-lg-9">
            <div class="card  carrito">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Product</th>
                            <th scope="col" width="160">Quantity</th>
                            <th scope="col" width="220">Price</th>
                            <th scope="col" class="text-right" width="200"></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for cart_item in cart_items  %}    
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img class="img_carrito" src="{{cart_item.product.images.url}}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{cart_item.product.get_url}}" class="title text-dark">servicio: {{cart_item.product.title}} </a>
                                        <p class="text-muted small">montaña tours travel:   <br> Av. cuadra 10. 8:00 am. 22/10/2025</p>
                                      
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <div class="col botonesCant">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <a  href="{% url 'remove_cart' cart_item.product.id  cart_item.id %}" class="btn btn-light" type="button"> <i class="fa fa-minus"></i> </a>
                                        </div>
                                        <input type="text" class="form-control" value="{{ cart_item.quantity }}" style="text-align: center;">

                                        <div class="input-group-append">

                                            <a href="{% url 'add_cart' cart_item.product.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </a>
                                            
                                        </div>
                                    </div> <!-- input-group.// -->
                                </div>
                            </td>
                            <td>
                                <div class="price-wrap  divPrecio">
                                    <var class="price">  s/. {{cart_item.sub_total}} </var>
                                    <small class="text-muted"> s/. {{cart_item.product.price_public}} und </small>
                                </div>
                            </td>
                            <td class="text-right ">
                                <div class="botonRemove">
                                    <a href="{% url 'remove_cart_item' cart_item.product.id  cart_item.id %}" onclick="return confirm('seguro que quieres eliminar el producto?')"  class="btn btn-danger"> Remove</a> 
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        <!-- Agrega más productos de manera similar si es necesario -->
                    </tbody>
                </table>
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <aside class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">s/. {{total}}</dd>
                    </dl>
       
                    <dl class="dlist-align">
                        <dt>Total:</dt>
                        <dd class="text-right text-dark b"><strong>s/. {{grand_total}}</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src='{% static "./images/misc/payments.png" %}' height="26">
                    </p>
                    <a href="./place-order.html" class="btn btn-pay btn-block"> Pay here </a>
                    <a href="{% url 'store'  %}" class="btn btn-continuar btn-block">Continue Shopping</a>
                    <a href="" class="btn btn-light btn-block"><img src="img/btn-paypal.png" alt="paypal"></a>
                </div> <!-- card-body.// -->
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {% endif %}
</div> <!-- container .// -->
</section>



</main>



{% endblock %}